<section id="about" class="py-20 bg-white">
    <div class="max-w-5xl mx-auto px-4">
        <h2 class="text-4xl font-semibold mb-6 head-color">About</h2>
        <p class="text-gray-700 mb-5">
            <span class="font-bold">Intelligent Medical Systems Laboratory</span> is led by Dr. Aleksei Tiulpin and conducts machine learning research to advance the field of AI for preventive care. We are headquartered at the Department of Radiology, Weill Cornell Medicine, New York City. Prior to that, the lab has been located at the University of Oulu, Finland.
        </p>
        <p>
            <span class="font-bold">Our expertise is</span> in building machine learning methods and tools that advance diagnostics, treatment, and scientific discover across diseases, organs, and modalities.
        </p>
        <h3 class="head-color font-bold text-2xl mt-10">We pursue three clinical aims:</h3>
        <div class="flex gap-6 justify-center mt-10 px-0">
            <!-- Box 1 -->
            <div class="relative bg-red-800 text-white font-bold text-lg p-6 w-79 h-60 flex items-center justify-center">
                <span class="text-3xl">Prevent disease<br>before it happens</span>
                <!-- Cut corner -->
                <div class="absolute top-0 right-0 w-8 h-8 bg-white clip-path-cut-corner"></div>
            </div>
            <!-- Box 2 -->
            <div class="relative bg-orange-700 text-white font-bold text-lg p-6 w-80 h-60 flex items-center justify-center">
                <span class="text-3xl">Democratize<br>access to care</span>
                <!-- Cut corner -->
                <div class="absolute top-0 right-0 w-8 h-8 bg-white clip-path-cut-corner"></div>
            </div>
            <!-- Box 3 -->
            <div class="relative bg-yellow-600 text-white font-bold text-lg p-6 w-80 h-60 flex items-center justify-center">
                <span class="text-3xl">Prevent treatment<br>complications</span>
                <!-- Cut corner -->
                <div class="absolute top-0 right-0 w-8 h-8 bg-white clip-path-cut-corner"></div>
            </div>
        </div>

        <div class="bg-gray-100 p-6 mt-6">
            <p class="text-lg font-medium mb-4">
                From a machine learning standpoint, the key research efforts in the group are directed toward building methods that are
            </p>
            <div class="flex justify-center items-start text-left gap-8">
                <div class="flex-1 p-4 flex flex-col items-start">
                    <div class="text-4xl mb-2">
                        <img class="h-10" src="/assets/images/icons/about-icon1.png" alt="about icon 1">
                    </div>
                    <h3 class="text-xl font-semibold head-color">Scalable</h3>
                    <p class="text-gray-700">Digest data from different modalities and with various sizes</p>
                </div>
                <div class="flex-1 p-4 flex flex-col items-start">
                    <div class="text-4xl mb-2">
                        <img class="h-10" src="/assets/images/icons/about-icon2.png" alt="about icon 2">
                    </div>
                    <h3 class="text-xl font-semibold head-color">Trustworthy</h3>
                    <p class="text-gray-700">Can generate outputs that we, as humans, can trust.</p>
                </div>
                <div class="flex-1 p-4 flex flex-col items-start">
                    <div class="text-4xl mb-2">
                        <img class="h-10" src="/assets/images/icons/about-icon3.png" alt="about icon 3">
                    </div>
                    <h3 class="text-xl font-semibold head-color">Deployable</h3>
                    <p class="text-gray-700">Align with the downstream goals</p>
                </div>
            </div>
        </div>
    </div>
</section>