<section id="research" class="py-25 relative bg-cover bg-center" style="background-image: url('assets/images/research-back.jpg');">
    <div class="absolute inset-0 bg-black opacity-75"></div>
    <div class="max-w-5xl mx-auto px-5 pb-5 relative z-10">
        <h2 class="text-white mb-5 imd-research-title">Research highlights</h2>

        {% for highlight in site.research %}
        <!-- Research Highlight Item n -->
        <div class="mb-7">
            <div class="bg-white shadow-md p-4 clip-path-cut-corner-research relative">
                <div class="flex items-center space-x-3 mb-2">
                    <!-- Icon -->
                    <svg width="24" height="24" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="{{ highlight.icon }}"
                            fill="#B31A1B" />
                    </svg>

                    <!-- Title -->
                    <h3 class="primary-color imd-research-box-title text-[14px] md:text-[18px]">{{ highlight.title }}</h3>
                </div>
                <!-- Keywords/Tags -->
                <div class="flex flex-wrap gap-2 mt-3">
                    {% for keyword in highlight.keywords %}
                    <span class="bg-gray-100 text-black font-bold px-2 py-2 imd-research-box-kw truncate text-[10px] md:text-[14px] ">{{ keyword }}</span>
                    {% endfor %}
                </div>
            </div>
            <!-- Collapsible Publications Section -->
            <div class="bg-research-collapse px-4  pt-3 pb-2 text-white cursor-pointer flex justify-between items-center"
                onclick="togglePublications('publications-{{ forloop.index }}')">
                <span class="imd-research-box-kw text-[12px] md:text-[14px]">Selected publications</span>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
            </div>
            <div id="publications-{{ forloop.index }}" class="hidden bg-gray-50 p-6">
                <ul class="list-disc list-inside space-y-2 text-gray-700">
                    {% for publication in highlight.publications %}
                    <li class="text-sm">{{ publication }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<script>
    // JavaScript to handle the collapsible sections
    function togglePublications(id) {
        const element = document.getElementById(id);
        if (element) {
            element.classList.toggle('hidden');
        }
    }
</script>