<section id="team" class="bg-white py-14">
  <div class="max-w-5xl mx-auto px-5">
    <h2 class="text-black imd-team-title">Team</h2>

    {% assign team_roles = site.team | group_by: 'role' %}
    {% if team_roles.size == 0 %}
      <p class="text-lg text-gray-700">No team members found.</p>
    {% endif %}
    
    {% for role in team_roles %}
      <h3 class="font-bold primary-color mt-8 mb-4 imd-team-role">{{ role.name }}</h3>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">
        {% for member in role.items %}
          <div class="flex items-center space-x-5">
            <div class="flex-shrink-0 w-16 h-16 overflow-hidden border-2 border-red-700">
              {% if member.image %}
                <img src="{{ member.image | relative_url }}" alt="{{ member.name }}" class="w-full h-full object-cover">
              {% else %}
                <div class="w-full h-full bg-gray-200 flex items-center justify-center text-gray-500">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                  </svg>
                </div>
              {% endif %}
            </div>
            <div>
              <p class="font-bold text-black imd-team-member-name">{{ member.name }}</p>
              <p class="imd-team-member-role">{{ member.position }}</p>
              <p class="imd-team-member-workplace">{{ member.affiliation }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}

    <!-- The main card container -->
    <div class="border-1 border-gray-300 border-dashed py-4 px-6 mt-12 mb-2 mx-auto">
      <div class="flex items-center  space-x-5">
        <!-- Icon section -->
        <div class="flex-shrink-0 flex items-center">
          <!-- Using a simple SVG for the icon. You can replace this with your own icon. -->
          <img src="./assets/images/icons/question.png" alt="question" class="w-6 h-6 mb-2">
        </div>
        
        <!-- Text content -->
        <div>
          <h3 class="font-bold text-black imd-team-join-title">How to join us?</h3>
          <p class="text-black imd-team-join-text">
            As a rule, iMEDS does not accept interns. Please, do not email with applications for internships. PhD students are recruited through
            Cornell Graduate School, and Postdocs recruitment advertisements are made publicly available on website and social media.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>