
<footer class="w-full bg-black text-white py-6">
  <div class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center px-6">
    <!-- Left Column: Logos -->
    <div class="flex flex-row space-x-6 items-center w-full md:w-7/8 justify-start mb-6 md:mb-0">
      <img src="./assets/images/imeds-bw-logo.png" alt="Logo 1" class="h-12">
      <img src="./assets/images/cornell-uni-logo.png" alt="Logo 2" class="h-12">
    </div>
    <!-- Right Column: Contact Info -->
    <div class="w-full md:w-1/8 flex flex-col items-end text-right">
      <span class="font-semibold text-lg text-left w-full">Contact</span>
      <a href="mailto:info@imeds.ai" class="text-blue-400 hover:underline text-left w-full">info@imeds.ai</a>
    </div>
  </div>
</footer>

{% include scripts.html %}
</body>
</html>
